@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


img {
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}

img:hover {
  scale: 102%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .custom-loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 16px solid #ffc639;
  border-right-color: #393e46;
  position: relative;
  animation: s4 2s infinite linear;
}
.custom-loader:before,
.custom-loader:after {
  content: "";
  position: absolute;
  inset:-16px;
  border-radius: 50%;
  border:inherit;
  animation:inherit;
  animation-duration: 4s;
}
.custom-loader:after {
  animation-duration: 8s;
}

@keyframes s4 {
  100% {transform: rotate(1turn)}
} */

/* .custom-loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #ffc639;
  border: 2px solid;
  position: relative;
}
.custom-loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
} */


/* HTML: <div class="loader"></div> */
/* .custom-loader {
  width: 50px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px ##ffc639 inset;
  border-radius: 50%;
  position: relative;
  animation: l11 7s infinite;
}
.custom-loader:before,
.custom-loader:after {
  content: "";
  position: absolute;
  top: calc(100% + 3px);
  left: calc(50% - 12.5px);
  box-shadow: inherit;
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  transform-origin: 50% -28px;
  animation: l11 1.5s infinite;
}
.custom-loader:after {
  animation-delay: -0.75s;
}
@keyframes l11 {
  100% {
    transform: rotate(360deg);
  }
} */

/* HTML: <div class="loader"></div> */
/* .custom-loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#ffa516);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
} */


/* HTML: <div class="loader"></div> */
/* .custom-loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #ffc639;
  border: 2px solid;
  position: relative;
}
.custom-loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
} */

/* HTML: <div class="loader"></div> */

.custom-loader {
  width: 120px;
  height: 22px;
  border-radius: 40px;
  color: #FFC639;
  border: 2px solid;
  position: relative;
  overflow: hidden;
}
.custom-loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  width: 14px;
  top: 0;
  bottom: 0;
  left: -20px;
  border-radius: inherit;
  background: currentColor;
  box-shadow: -10px 0 12px 3px currentColor;
  clip-path: polygon(0 5%, 100% 0,100% 100%,0 95%,-30px 50%);
  animation: l14 1s infinite linear;
}
@keyframes l14 {
  100% {left: calc(100% + 20px)}
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #49416D;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E7C672;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2D2944;
}

.table-auto {
  width: 100%;
  border-collapse: collapse;
}

.table-auto th,
.table-auto td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-auto th {
  background-color: #f2f2f2;
  text-align: left;
}


